<h1>商品新規登録</h1>
<p>商品情報入力欄</p>



<%= form_with model: [:admin ,@item] do |f| %>
<div class="form-group row">
  <label for="inputImage", class="col-sm-4 col-form-label">商品画像</label>
  <%= f.file_field :image, placeholder: "ファイルを選択", accept: "image/*", class:"col form-control-file item_image"%>
</div>

<div class="form-group row">
  <label for="inputName", class="col-sm-4 col-form-label">商品名</label>
  <%= f.text_field :name, placeholder: "商品名", id:"inputName", class:"col form-control item_name" %>
</div>

<div class="form-group row">
  <label for="inputIntroduction", class="col-sm-4 col-form-label">商品説明</label>
  <%= f.text_area :introduction, placeholder: "ここに説明文を記述します",size: "5x5", id:"inputIntroduction", class:"col form-control introduction"  %>
</div>
<!--ジャンル選択機能-->
<div class="form-group row">
  <label for="inputPrice", class="col-sm-4 col-form-label">税抜価格</label>
  <%= f.number_field :price, placeholder: "1000", id:"inputPrice", class:"col form-control price"  %><p>円</p>
</div>

<!--販売ステータ選択機能-->


<!--<p><= link_to '新規登録', admin_items_show_path %></p>-->
<div class="form-group row">
  <label for="inputPassward", class="col-sm-4 col-form-label"></label>
  <%= f.submit "新規登録", class:"btn btn-success w-25 mx-auto" %>
</div>

<% end %>
