<h1>注文詳細</h1>

<p>注文情報の詳細</p>

<tr>
  <td>購入者</td><!--<p><= link_to '注文者名', admin_customers_show_path %></p>-->
  <td>
    <%= link_to "#{@order.customer.last_name + ' ' + @order.customer.first_name}", admin_path %>
  </td>
</tr>

<tr><td>注文日</td></td><td><%= @order.create_at %></td></tr>

<tr><td>配送先</td><td><%= @order.postal_code %></td></tr>

<tr><td>支払方法</td><td><%= @order.payment_method %></td></tr>

<!--<tr><td>注文ステータス</td><td>########</td></tr>-->
<!--<p>注文ステータスの変更ドロップダウン</p>-->
<!--<p><= link_to 'ステータスの変更', admin_orders_show_path %></p>-->

<!--注文商品表-->
 <tr>
  <th>商品名</th>
  <th>単価(税込)</th>
  <th>数量</th>
  <th>小計</th>
  <!--<th>製作ステータス</th>-->
  <!--<p>製作ステータスの変更ドロップダウン</p>-->
  <!--<p><= link_to 'ステータスの変更', admin_orders_show_path %></p>-->
</tr>
<% @order_items.each do |order_item| %>
<tr>
  <td>
    <%= order_item.item.name %>
  </td>

  <td>
    <%= order_item.unit_price %>
  </td>

  <td>
    <%= order_item.quantity %>
  </td>

  <td>
    <%= order_item.unit_price * order_item.quantity %>
  </td>

</tr>
  <% end %>