<h1>注文履歴一覧</h1><!--(管理者トップ画面)-->

<!--全会員の注文履歴-->
<tr>
  <th>購入日時</th><!--注文日日付-->
  <th>購入者</th>
  <th>注文個数</th>
  <th>注文ステータス</th>
  <th colspan="4"></th>
</tr>
<% @orders.each do |order| %>
<tr>
  <td><%= link_to admin_order_path(order.id) do %><!--注文日日付-->
      <%= order.create_at %>
    <% end %></td>
  <td><%= "#{order.customer.last_name + order.customer.first_name}" %></td><!--購入者-->
  <td><%= order.order_items.count %></td><!--注文個数-->
  <!--<td><= user.name %></td><!--注文ステータス-->
</tr>
<% end %>

<%= paginate @orders %>
