 <h2>商品一覧</h2> <p>　(全<%= "#{@sum.count}" %>件)</p>



    <% @items.first(8).each do |item| %>

          <%= link_to item_path(item.id) do %>
            <%= image_tag item.image, size: "225x150" %>
          <% end %>

          <%= item.name %>

          ￥<%= item.price.to_s(:delimited) %>

    <% end %>

    <%= paginate @items %>
